@theme {
  --color-background: #101915;
  --color-surface: #181f1b;
  --color-primary: #1ed760;
  --color-primary-dark: #17994c;
  --color-text: #e5e5e5;
  --color-text-secondary: #b3b3b3;
  --color-border: #222b25;
}
