@theme {
  --color-primary-lighter: #ecfdf5;
  --color-primary-light: #a7f3d0;
  --color-primary-base: #10b981;
  --color-primary-medium: #059669;
  --color-primary-dark: #047857;

  --color-secondary-lighter: #fffbeb;
  --color-secondary-base: #d97706;
  --color-secondary-dark: #92400e;

  --color-neutral-lighter: #ffffff;
  --color-neutral-base: #f3f4f6;
  --color-neutral-dark: #6b7280;
}
