<nav class="w-full bg-lighter-white fixed top-0 left-0 z-50 font-primary">
    <div class="container mx-auto flex h-16 justify-between items-center">
        <div class="flex items-center gap-2">
            <div class="p-2 bg-primary-lighter rounded-full">
                <%= inline_svg_tag 'svg/truck.svg', class: 'w-6 h-6 text-primary-base inline' %>
            </div>
            <h1 class="font-bold text-xl">Umaii</h1>
            <p class="neutral-dark opacity-70 text-sm ml-2 mt-0.5">
                Entregas e corridas simples e rápidas
            </p>
        </div>
        <div>
            <div class="px-2 py-1 flex items-center gap-2 border-primary-base rounded-xl border-1">
                <%= inline_svg_tag 'svg/radio.svg', class: 'w-4 h-4 text-primary-base inline' %>
                <span class="text-primary-dark text-sm font-bold">Beta</span>
            </div>
        </div>
    </div>
</nav>
